:root {
  --navbar-height: 10vh;
}

body {
  position: relative;
}

body > nav {
  height: var(--navbar-height);
}

nav {
  background-color: #fff;
}

main {
  margin-top: var(--navbar-height);
}

main > section {
  margin: auto;
  padding: 3vh;
  height: calc(100vh - var(--navbar-height));
  min-height: calc(100vh - var(--navbar-height));
  max-height: calc(100vh - var(--navbar-height));
}

main > section:nth-of-type(odd) {
  background-color: aquamarine;
}

main > section:nth-of-type(even) {
  background-color: cornflowerblue;
}

.brand-logo {
  /* max-height: calc(var(--navbar-height) / 2); */
  /* min-height: calc(var(--navbar-height) / 2); */
  height: calc(var(--navbar-height) / 2);
}