:root {
  --navbar-height: 10vh;
}

body {
  position: relative;
}

body > nav {
  height: var(--navbar-height);
}

nav {
  background-color: #fff;
}

main {
  margin-top: var(--navbar-height);
}

main > section {
  margin: auto;
  padding-left: 3vh;
  padding-right: 3vh;
  height: 100vh;
  min-height: 100vh;
}

main > section:nth-of-type(odd) {
  background-color: aquamarine;
}

main > section:nth-of-type(even) {
  background-color: cornflowerblue;
}

main > section > h2 {
  padding-top: var(--navbar-height);
}

.brand-logo {
  height: calc(var(--navbar-height) / 2);
}